---
import Badge from "./Badge.astro";
import LinkButton from "./LinkButton.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import TailwindCSSIcon from "../icons/TailwindCSSIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import OpenCV from "../icons/OpenCVIcon.astro";
import GoogleColab from "../icons/GoogleColab.astro";
import PreviewIcon from "../icons/PreviewIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-[#0D0F14] text-white/80",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#0F172A] text-white/80",
    icon: TailwindCSSIcon,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#1E415E] text-white/80",
    icon: PythonIcon,
  },
  OPENCV: {
    name: "Open CV",
    class: "bg-[#000] text-white/80",
    icon: OpenCV,
  },
  GOOGLECOLAB: {
    name: "Google Colab",
    class: "bg-[#E8710A] text-white/80",
    icon: GoogleColab,
  },
};

const PROYECTOS = [
  {
    title: "GYM24 - Static Website",
    description:
      "Static Website diseñada para GYM24 que ofrece información sobre servicios, horarios, entrenadores y contacto.",
    link: "https://gym24-three.vercel.app/",
    github: "https://github.com/7R0N1X/gym24",
    image: "/proyectos/2.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Reconocimiento de Emociones",
    description:
      "Proyecto de aprendizaje profundo que utiliza Python, OpenCV y Redes Neuronales Convolucionales para identificar emociones en tiempo real.",
    link: "",
    github: "https://github.com/7R0N1X/Reconocimiento-Emociones-Faciales.git",
    image: "/proyectos/1.webp",
    tags: [TAGS.PYTHON, TAGS.OPENCV, TAGS.GOOGLECOLAB],
  },
];
---

<section>
  <h2 class="flex items-center gap-3 text-center font-bold text-3xl mb-5 text-white"><CodeIcon class="size-7" /> Proyectos</h2>

  {
    PROYECTOS.map(({ image, title, description, link, github, tags }) => (
      <article class="w-full sm:max-w-[810px] flex flex-col sm:flex-row gap-5 mb-12">
        <img src={image} alt={`Captura de pantalla del proyecto ${title}`} class="object-cover h-60 rounded-xl" />
        <section>
          <h3 class="text-2xl font-semibold sm:mt-3 mb-3 text-gray-100">{title}</h3>
          <ul class="flex gap-2">
            {tags.map((tag) => (
              <li class="flex justify-center items-center">
                <Badge class={tag.class}>
                  <tag.icon class="size-3" /> {tag.name}
                </Badge>
              </li>
            ))}
          </ul>
          <p class="text-pretty mb-4 mt-3 text-gray-400 text-justify tracking-wide">{description}</p>
          <section class="flex gap-3 text-white">
            <LinkButton href={link} name="Preview" title="Vista previa" class=" flex items-center gap-2 border rounded-full px-3 py-2 text-sm transition hover:scale-105"><PreviewIcon class="size-5" /></LinkButton>
            <LinkButton href={github} name="Code" title="Código fuente" class=" flex items-center gap-2 border rounded-full px-3 py-2 text-sm transition hover:scale-105"><GithubIcon class="size-5" /></LinkButton>
          </section>
        </section>
      </article>
    ))
  }
</section>
