---
import "@fontsource/poppins/600.css";

import Badge from "./Badge.astro";
import LinkButton from "./LinkButton.astro";

import AstroIcon from "../icons/AstroIcon.astro";
import TailwindCSSIcon from "../icons/TailwindCSSIcon.astro";
import PythonIcon from "../icons/PythonIcon.astro";
import OpenCV from "../icons/OpenCVIcon.astro";
import GoogleColab from "../icons/GoogleColab.astro";
import PreviewIcon from "../icons/PreviewIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-[#0D0F14] text-white/80",
    icon: AstroIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#0F172A] text-white/80",
    icon: TailwindCSSIcon,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#1E415E] text-white/80",
    icon: PythonIcon,
  },
  OPENCV: {
    name: "Open CV",
    class: "bg-[#000] text-white/80",
    icon: OpenCV,
  },
  GOOGLECOLAB: {
    name: "Google Colab",
    class: "bg-[#E8710A] text-white/80",
    icon: GoogleColab,
  },
};

const PROYECTOS = [
  {
    title: "GYM24 Static Website",
    description:
      "Static Website diseñada para GYM24 que ofrece información sobre servicios, horarios, entrenadores y contacto.",
    link: "https://gym24-three.vercel.app/",
    github: "https://github.com/7R0N1X/gym24",
    image: "/proyectos/2.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Reconocimiento de emociones",
    description:
      "Proyecto de aprendizaje profundo que utiliza Python, OpenCV y Redes Neuronales Convolucionales para identificar emociones en tiempo real.",
    link: "",
    github: "https://github.com/7R0N1X/Reconocimiento-Emociones-Faciales.git",
    image: "/proyectos/1.webp",
    tags: [TAGS.PYTHON, TAGS.OPENCV, TAGS.GOOGLECOLAB],
  },
];
---

<h2 class="uppercase text-center font-extrabold text-3xl mb-10 bg-clip-text text-transparent bg-gradient-to-b from-[#f8f9fa] to-[#ced4da]">Proyectos</h2>

{
  PROYECTOS.map(({ image, title, description, link, github, tags }) => (
    <article class="w-full sm:max-w-[810px] flex flex-col sm:flex-row gap-5 mb-5">
      <img src={image} alt={`Captura de pantalla del proyecto ${title}`} class="max-w-[400px]" />
      <section>
        <h3 class="text-xl font-semibold mt-3 mb-3 uppercase text-white/80">{title}</h3>
        <ul class="flex gap-2">
          {tags.map((tag) => (
            <li class="flex justify-center items-center">
              <Badge class={tag.class}>
                <tag.icon class="size-3" /> {tag.name}
              </Badge>
            </li>
          ))}
        </ul>
        <p class="text-pretty mb-4 mt-3">{description}</p>
        <section class="flex gap-5">
          <LinkButton href={link} name="Preview" title="Vista previa" class=" bg-[#191919] flex items-center gap-2 border rounded-full px-3 py-2 text-sm text-white/80 transition hover:scale-105"><PreviewIcon class="size-5" /></LinkButton>
          <LinkButton href={github} name="Code" title="Código fuente" class=" bg-[#191919] flex items-center gap-2 border rounded-full px-3 py-2 text-sm text-white/80 transition hover:scale-105"><GithubIcon class="size-5" /></LinkButton>
        </section>
      </section>
    </article>
  ))
}

<style>
  h2 {
    font-family: "Poppins", sans-serif;
  }
</style>
